
body {
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.4;
  padding: 50px;
  color: #FFF;
  background-color: #0F0E0E;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.work {
  margin-top: 80px;
}

a, a:hover, a:visited {
  color: #FFF;
}
